{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--Main Heading Section - index.html -->
<div class="container h-100 pt-5">
    <div class="row h-100 pt-2">
        <div class="col-7 col-md-6 m-2">
            <h1 class="display-4 logo-font text-black">
                <span class="homepage-box">Purchase prints by young Irish artists!</span>
            </h1>
            <div class="my-1">
                <h2>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lg rounded text-uppercase m-2">Artworks</a>
                </h2>
            </div>

        </div>
    </div>
</div>
<!--End of Heading Section - index.html -->
{% endblock %}