{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--Jumbotron Section - artists.html -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">The Artists</h2>
        <p class="lead">Young Irish Artists works with recently graduated art students to provide a 
            platform through which they can sell prints of their original works to gain greater
            market exposure and recognition in the art world. An overview of the artists that we work with is
            detailed below!
        </p>
    </div>
</div>
<!--End of Jumbotron Section - artists.html -->

<!--Start of Artists Section - artists.html-->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3 mb-3">
            <h2 class="logo-font">Meet the Artists</h2>
            <hr class="w-50 mb-2">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for artist in artists %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if artist.image %}
                        <img class="card-img-top img-fluid" src="{{ artist.image.url }}" alt="{{ artist.name }}">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ artist.name }}">
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="lead mb-2 font-weight-bold"><i class="fas fa-user"></i> {{ artist.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left"><i class="fas fa-user-graduate"></i>
                                        {{ artist.education }}</p>
                                    <p class="lead mb-0 text-left"><i class="fas fa-calendar-alt"></i>
                                        {{ artist.graduation }}</p>
                                    <p class="lead mb-0 text-left"><i class="fas fa-paint-brush"></i>
                                        {{ artist.specialisation }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--End of Artists Section - artists.html-->
{% endblock %}