{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">500 Error</h2>
        <p class="lead">
            Looks like something's gone wrong!
            To return to the Home Page, please click the button below.
        </p>
        <h3>
            <a href="{% url 'home' %}" class="shop-now-button btn btn-lg rounded text-uppercase py-2">
                Home Page</a>
        </h3>
    </div>
</div>
{% endblock %}